.wd-row-style {
    border-bottom: 1px solid #4f5050;
}

.wd-post-author-name-style {
    border: 1px solid;
    border-color: #4f5050;
    border-radius: 20px;
    width: 100%
}

.wd-home-screen-post-img {
    border-bottom: 1px solid #4f5050;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 100%;
}

.wd-icon-color {
    color: #2f3336;
    font-size: 25px;
}

.wd-tuiter-icon-margin {
    margin-left: 10px;
}