.wd-rounded-corners {
    border-radius: 12px;
}

.wd-rounded-corners-search {
    border-radius: 18px;
}

.wd-search-bar-icon-color {
    color: #4f5050;
}

.wd-dark-gray-color {
    background-color: #1c1f23;
    /*background-color: #1e2125;*/
}

.wd-border-between-cols {
    border-right: 1px solid;
    border-right-color: #4f5050
}

.wd-show-more-text {
    color: #0c63e4;
    font-size: 14px;
}

.wd-tabs-links {
    font-size: 15px;
    margin-top: 10px;
    color: #4f5050;
}

.wd-inline-display {
    display: inline-flex;
}

.wd-fill-width-search-bar {
    text-indent: 28px;
    width: 95%;
}

.wd-padding-top {
    padding-top: 5px;
}

.wd-group-input-icon {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%
}

.wd-icon-size {
    padding-top: 5px;
    font-size: 24px;
}

.wd-font-family-setter {
    margin:10px;
    font-family: Arial;
}

.wd-font-color-light-gray {
    color: #6c757d;
}

.wd-dark-background {
    background-color: black;
}

.wd-border-bottom-links {
    border-bottom-style: solid;
    border-bottom-color: #0b5ed7;
    border-width: 5px;
    padding-bottom: 3px;
}

.wd-display-flex-col {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.wd-follow-img {
    width: 44px;
    height: 44px;
    margin-right: 5px;
    border-radius: 20px;
}

.wd-follow-btn {

    border-radius: 15px;
    width: 60px;
    height: 30px;
    text-align: start;
    font-size: 12px
}

.wd-tuit-btn {
    border-radius: 15px;
    width: 50px;
    height: 30px;
    text-align: start;
    font-size: 12px;
    width: 80%;
}

.wd-handle-text {
    margin-top: 0;
    font-size: 10px
}

.wd-icon-inside {
    position: absolute;
    left: 10px;
    top: 5px;
    padding-top: 5px;
    padding-left: 5px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.wd-post-below-img {
    padding: 5px;
    display: inline-flex;
    width: 100%
}

.wd-left-margin {
    margin-left: 20px
}

.wd-padding-cols-0 {
    padding: 0;
}

.wd-center-post-section {
    /*margin-top: 10px;*/

}

.wd-center-section-border {
    border-top: 1px solid;
    border-color: #4f5050;
}

.wd-center-section-last-post-border {
    border-bottom: 1px solid;
    border-color: #4f5050;
}

.wd-center-img-container {
    width: 100%;
    position: relative
}

.wd-occupy-all-width {
    width: 100%;
}

.wd-right-padding {
    padding-right: 5px;
}

.wd-more-icon-size {
    font-size: 20px
}

.wd-negative-margin-more-icon {
    margin-left: -13px
}

.wd-zero-margin {
    margin: 0px;
}

.wd-txt-over-img {
    color: white;
    position: absolute;
    bottom: 4px;
    left: 16px;
    font-size: 28px
}

.wd-post-topic {
    margin: 0;
    font-size: 12px;
    padding-right: 10px;
}

.wd-post-title {
    margin: 0;
    font-size: normal;
    padding-right: 10px;
}

.wd-post-description {
    margin: 0;
    font-size: normal;
    padding-right: 10px;
}

.wd-post-small-img-container {
    float: right;
    width: 100%;
    padding: 10px;
    padding-right: 0;
}

.wd-post-small-img {
    float: right;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    max-width: auto;
    /*width: 100%;*/
    max-height: auto;
    /*height: auto;*/
    /*width: auto;*/
}

.wd-follow-topic {
    font-size: 14px;
}

.wd-follow-author {
    font-size: 12px;
}

