.wd-general-style {
    background-color: black;
}

.wd-search-box-settings {
    width: 100%;
    display: inline-flex;

}

.wd-main-div {
    width: 100%;
}

.wd-search-box {
    padding: 10px;
    width: 100%;
    display: inline-flex;
}

.wd-search-box #search-text-box {
    border-radius: 50px;
    width: 100%;
    background: darkgray;
    color: white;
}

.wd-settings-img {
    height: 30px;
    width: 30px;
    padding-left: 10px;
    padding-right: 12px;
    padding-top: 15px;
}

.wd-links-to-tabs {
    display: inline;
    color: white;
    width: 100%;
}

.wd-links-to-tabs a {
    display: inline;
    color: white;
}

.wd-link-nav {
    display: block;
    overflow: auto;
    padding: 16px;
}

.wd-link-nav a {
    float: left;
    text-align: center;
    width: 15%;
    font-size: 15px;
}

.wd-post {
    max-height: 150px;
    width: 100%;
}

.wd-post-name {
    color: white;
}

.wd-post-title {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-post-tweets {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-tuit-small-img {
    border-radius: 10px;
    max-height: 100px;
    max-width: 100px;
    float: right;
    margin-right: 16px;
}

.wd-post-author {
    color: white;
}

.wd-post-topic {
    font-size: 13px;
    color: lightgray;
}

hr#for-you {
    color: rgb(29, 161, 242);
}

hr {
    color: rgb(47, 51, 54);
}

