.wd-dark-gray-color {
    background-color: #1c1f23;
}

.wd-post-topic {
    margin: 0;
    font-size: 12px;
    padding-right: 10px;
}

.wd-font-color-light-gray {
    color: #6c757d;
}

.wd-post-description {
    margin: 0;
    font-size: normal;
    padding-right: 10px;
}

.wd-post-small-img-container {
    float: right;
    width: 100%;
    padding: 10px;
    padding-right: 0;
}

.wd-post-small-img {
    float: right;
    border-radius: 5px;
    width: 75px;
    height: 75px;
    max-width: auto;
    /*width: 100%;*/
    max-height: auto;
    /*height: auto;*/
    /*width: auto;*/
}

.wd-rounded-corners {
    border-radius: 12px;
}
